asgiref==3.5.1
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.2
defusedxml==0.7.1
Django==4.0.4
django-allauth==0.50.0
idna==3.3
oauthlib==3.2.0
Pillow==9.1.1
pycparser==2.21
PyJWT==2.4.0
python3-openid==3.2.0
requests==2.27.1
requests-oauthlib==1.3.1
sqlparse==0.4.2
urllib3==1.26.9


# [uwsgi]
# chdir=/home/ubuntu/2022-sns-project
# module=sns_project.wsgi:application 
# master=True
# pidfile=/tmp/project-master.pid
# vacuum=True
# max-requests=5000 
# daemonize=/home/ubuntu/2022-sns-project/Django.log 
# home=/home/ubuntu/2022-sns-project/venv 
# virtualenv=/home/ubuntu/2022-sns-project/venv 
# socket=/home/ubuntu/2022-sns-project/uwsgi.sock 
# chmod-socket=666

# location / {
#     # try_files 삭제
#     include /etc/nginx/uwsgi_params; 
#     uwsgi_pass django;
# }
# # static 경로 설정
# # alias는 별칭(단축키)를 의미 
# location /static/ {
#     alias /home/ubuntu/2022-sns-project/static/;
# }
# # media 경로 설정 
# location /media/ {
#     alias /home/ubuntu/2022-sns-project/media/;
# }