{% extends 'base.html' %}
{% load static %}
{% block content %}



<body>
{% if user.is_authenticated %}


    <main>
        <h2>글목록</h2>
        <table class="table">
            <thead>
                <td>제목</td>
                <td>작성자</td>
                <td>작성시간</td>
            </thead>
            {% for post in posts %}
            <tr>
                <td><a href="{% url 'main:detail' post.id %}">{{post.title}}</a></td>
                <td>{{post.writer}}</td>
                <td>{{post.pub_date}}</td>
            </tr>
            {% endfor %}
        </table>
        <h2><a href="{% url 'main:new' %}">글쓰기</a></h2>
        {% else %}
        {% endif %}
    </main>
    <article>
        <a class="num" href="#">⬅️ 이전</a>
        <a class="num" href="#">다음 ➡️</a><br><br>
        <span>About me   <a class="num" href="{% url 'main:intro' %}">🧑🏻‍💻</a></span>
    </article>
    <div class="icon">
        <ul class="gnb01 clearfixed">
            <li><a href="https://www.instagram.com/charm_0ne/"><img class="insta" width="50px" height="50px" src="{% static 'images/insta.jpeg' %}"></a></li>
            <li><a href="https://github.com/SeongJoon-K"><img class="insta" width="50px" height="50px"  src="{% static 'images/githu.png' %}"></a></li>
            <li><a href="https://blog.naver.com/jobcho6320"><img class="insta" width="50px" height="50px"  src="{% static 'images/blog.png' %}"></a></li>
        </ul>
    </div>
    <footer>
        <p>Copyright SeongJoon-K rights reserved.</p>
    </footer>
</body>
{% endblock %}
