{% extends 'base.html' %}
{% load static %}

{% block content %}

<form action="{% url 'main:create' %}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <p class="mb-3">제목 : <input type="text" name="title"> </p>
    <p>작성자 : {{ user }}</p>
      <div class="mb-3">
        <input class="form-control form-control-sm" id="formFileSm" type="file" name="image">
      </div>
    <p>내용 : <textarea type="text" name="body" id="" cols="30" rows="10"></textarea></p>
    <button type="submit" class="btn btn-primary">제출</button>
</form>
{% endblock %}